html
    head
        title= title
    style
        include style.css
    body
        h1= message
        img(src="http://www.mimuw.edu.pl/")
        h1="Meme list"
        ul
            each meme in storage.getTop3()
                li
                    div(class='meme')
                        a(href="meme/" + meme.id)(class='meme-title') #{meme.name}
                        img(src=meme.url)