html
    head
        title= title
    style
        include style.css
    body
        h1(class='center text-white')= message
        img(src="https://www.mimuw.edu.pl/sites/all/themes/mimuwtheme/images/MIM_logo_sygnet_pl.png" id="logo")
        
        if username
            a(href="/logout")
                h2(class='center text-white')="Logout"
        else
            a(href="/login")
                h2(class='center text-white')="Login"

        h1(class='center' id="list-header")="Meme list"
        div(class='flex-column')
            each meme in top3
                div(class='meme center')
                    a(href="meme/" + meme.id class='meme-title center') #{meme.name}
                    img(src=meme.url)
                    p(class='center text-white') Price: #{meme.price}