html
    head
        title= title
    style
        include style.css
    body
        h1(class='center text-white' id='list-header')="Login"

        div(class='flex-column')
            form(method="POST")
                input(type="hidden" name="_csrf" value=csrfToken)

                div(class='flex-column')
                    label(for="username" class='center text-white')="Username: "
                    input(type="text" name="username" required)

                    label(for="password" class='text-white')="Password: "
                    input(type="password" name="password" required)

                    button(type="submit" class='center')="Login"

            if errorMsg
                h2(class='center')=errorMsg
            
            a(href="/" class='center text-white') Back to home