html
    head
        title= title
    style
        include style.css
    body
        div(class='flex-column')
            h1(class='center')=Login            

            form(method="POST")
                input(type="hidden" name="_csrf" value=csrfToken)

                label(for="username" class='text-white')="Username: "
                input(type="text" name="username" required)

                label(for="password" class='text-white')="Password: "
                input(type="password" name="password" required)

                button(type="submit")="Login"

            if errorMsg
                h2=errorMsg
            
            a(href="/" class='center text-white') Back to home