html
    head
        title= title
    style
        include style.css
    body
        div(class='flex-column')
            h1(id='meme-header' class='center')= meme.name
            p(class='text-white') Actual price: #{meme.price}
            img(src=meme.url)

            table(class='text-white')
                tr
                    th="Historical prices"
                each price in history
                    tr
                        td=price

            form(method="POST")
                input(type="hidden" name="_csrf" value=csrfToken)
                label(for="price" class='text-white')="New price: "
                input(type="number" min="0" name="price")
                button(type="submit")="Buy"

            a(href="/" class='center text-white') Back to home
